html{
    scroll-behavior: smooth;
}
.carousel-item{
    padding: 20px 40px;
}

.buy-button{
    background-image: linear-gradient(to bottom, #000 0%, #000 100%);
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
   /* text-transform: uppercase;*/
}
.container{
    margin-bottom: 50px;
}

